version: '3.8'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: emes-mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Admin@12345"
      MSSQL_PID: "Developer"
    ports:
      - "11433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

volumes:
  mssql-data:
